# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
frontend/dist/

# App data
nebula-web.config.yml
nebula-web.db
*.db
*.bak.*

# Secrets
*.key
*.crt
!nebula-web.config.example.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
